/* 09-11 */
/* .red {
  color: red;
}

.pink {
  background-color: pink;
}

.box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
} */

/* 12 */
.nopoint {
  list-style: none;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: skyblue;
}
